*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box;
  outline: none; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */ }

/* allow text selection */
.copyable-text {
  -webkit-touch-callout: text;
  /* iOS Safari */
  -webkit-user-select: text;
  /* Safari */
  -khtml-user-select: text;
  /* Konqueror HTML */
  -moz-user-select: text;
  /* Old versions of Firefox */
  -ms-user-select: text;
  /* Internet Explorer/Edge */
  user-select: text;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */ }

#app {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #f7fafc; }

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Nunito', sans-serif, Arial, Helvetica, -apple-system, BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden; }

.cardview {
  position: relative;
  flex: 1 0 20%;
  max-height: 18rem;
  padding: 1.5rem 1.5rem;
  margin: 0.8rem 0.6rem;
  border-radius: 0.4rem;
  border-left: 3px solid #66BB6A;
  border: 1px solid #E0E0E0;
  background-color: #fff;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out; }
  @media only screen and (max-width: 56.25em) {
    .cardview {
      flex: 1 1 33.33%;
      margin: 0.5rem 0.5rem;
      padding: 1.3rem 1.3rem; } }
  @media only screen and (max-width: 37.5em) {
    .cardview {
      flex: none;
      width: 100%;
      margin: 0.5rem 0; } }
  .cardview:hover {
    border: 1px solid transparent;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.15); }
  .cardview__imgbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    .cardview__imgbox--img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      object-fit: cover; }
    .cardview__imgbox--iconview {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      text-align: center;
      padding: 0.4rem 0.3rem;
      fill: #757575;
      background-color: inherit;
      transition: backround-color 0.3s ease-in-out; }
      .cardview__imgbox--iconview:hover {
        background-color: #E0E0E0; }
  .cardview__titlebox {
    padding: 1rem 0rem; }
    .cardview__titlebox--text {
      font-size: 1.5rem;
      text-transform: uppercase;
      color: #757575;
      letter-spacing: 0.099rem; }
  .cardview__textview {
    padding: 0.5rem 0; }
    .cardview__textview--text {
      font-size: 1.2rem;
      color: #757575;
      width: 100%; }
  .cardview__listview {
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.15);
    width: 23rem;
    right: 23px;
    top: 50px;
    max-height: 20rem;
    z-index: 999;
    border-radius: 0.4rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden; }
    .cardview__listview--link {
      padding: 1rem 1rem;
      text-decoration: none;
      font-size: 1.4rem;
      color: #757575;
      cursor: pointer;
      transition: all 0.3s ease-in-out; }
      .cardview__listview--link:hover {
        background-color: #EEEEEE; }

.cardview__listview::-webkit-scrollbar {
  width: 7px;
  transition: all 0.3s; }

/* Track */
.cardview__listview::-webkit-scrollbar-track {
  background: #EEEEEE; }

/* Handle */
.cardview__listview::-webkit-scrollbar-thumb {
  background: #BDBDBD;
  border-radius: 0.3rem; }

/* Handle on hover */
.cardview__listview::-webkit-scrollbar-thumb:hover {
  background: #9E9E9E; }

.show_listview {
  opacity: 1;
  visibility: visible; }

.mobilesidenav {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: fixed;
  background: linear-gradient(rgba(51, 51, 51, 0.15), rgba(51, 51, 51, 0.15));
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out; }
  .mobilesidenav__container {
    background-color: #fff;
    position: fixed;
    height: 100%;
    left: 0;
    width: 25rem;
    transform: translateX(-500px);
    transition: all 0.3s ease-in-out; }
  .mobilesidenav__imgbox {
    padding: 0.5rem 0rem; }
    .mobilesidenav__imgbox--img {
      object-fit: cover;
      width: 13rem;
      margin: 0 auto; }
  .mobilesidenav__listview {
    padding: 1rem 0rem;
    overflow-y: auto; }
  .mobilesidenav__itemtab {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.3rem 0;
    padding: 1.7rem 2.7rem;
    background-color: #fff;
    transition: all 0.3s;
    cursor: pointer; }
    .mobilesidenav__itemtab:hover {
      background-color: #F5F5F5; }
    .mobilesidenav__itemtab--iconview {
      fill: #757575; }
    .mobilesidenav__itemtab--text {
      font-size: 1.4rem;
      font-weight: 600;
      margin-left: 2.5rem;
      color: #757575; }

.mobilenav_open.mobilesidenav {
  opacity: 1;
  visibility: visible; }

.mobilenav_open .mobilesidenav__container {
  transform: translateX(0); }

.navbar {
  top: 0;
  background-color: #fff;
  position: sticky;
  z-index: 999; }
  .navbar__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.8rem 0.8rem; }
  .navbar__iconview {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    text-align: center;
    padding: 0.5rem 0.3rem;
    fill: #757575;
    transition: all 0.3s;
    cursor: pointer;
    display: none; }
    @media only screen and (max-width: 56.25em) {
      .navbar__iconview {
        display: block; } }
    .navbar__iconview:hover {
      background-color: #E0E0E0; }
  .navbar__logo {
    margin: 0;
    padding: 0; }
    .navbar__logo--img {
      width: 8.5rem; }
  .navbar__searchbox {
    margin-left: -1.5rem;
    width: 550px; }
    @media only screen and (max-width: 56.25em) {
      .navbar__searchbox {
        display: none; } }
    .navbar__searchbox--input {
      width: 100%;
      padding: 1rem 0.8rem;
      border: none;
      border: 1px solid #E0E0E0;
      background-color: #fff;
      border-radius: 0.3rem;
      font-family: inherit;
      color: #757575;
      transition: all 0.3s ease-in-out; }
      .navbar__searchbox--input:hover {
        border: 1px solid #BDBDBD; }
      .navbar__searchbox--input:focus {
        border: 1px solid #64B5F6;
        box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15); }
      .navbar__searchbox--input::placeholder {
        font-family: inherit;
        color: #9E9E9E; }
  .navbar__widgets {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .navbar__profile {
    cursor: pointer; }
    .navbar__profile--img {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      object-fit: cover; }
  .navbar__dropdown {
    position: absolute;
    width: 10rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    right: 20px;
    top: 55px;
    opacity: 0;
    visibility: hidden; }
    .navbar__dropdown--link {
      text-decoration: none;
      font-size: 1.4rem;
      font-weight: 500;
      color: #757575;
      padding: 0.8rem 0.6rem;
      cursor: pointer;
      transition: background-color 0.3s; }
      .navbar__dropdown--link:hover {
        background-color: #EEEEEE; }

.nav_shadow {
  box-shadow: 0px 2px 15px -2px rgba(0, 0, 0, 0.15); }

.show_dropdown {
  visibility: visible;
  opacity: 1; }

.mt__wrapper {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  position: fixed;
  background: linear-gradient(rgba(51, 51, 51, 0.15), rgba(51, 51, 51, 0.15));
  opacity: 0;
  visibility: hidden; }

.mt__container {
  position: relative;
  top: 30%;
  margin: 0 auto;
  width: 35rem;
  background-color: #fff;
  overflow: hidden;
  border-radius: 0.3rem;
  padding: 1rem; }

.mt__imagebox {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin: 0 auto;
  padding: 0.25rem 0.3rem;
  background-color: #EEEEEE; }

.mt__imagebox--img {
  width: 14.5rem;
  height: 14.5rem;
  border-radius: 50%;
  margin: 0 auto;
  object-fit: cover; }

.mt__textview {
  text-align: center;
  padding: 1rem 0.5rem; }

.mt__textview--text {
  font-size: 1.75rem;
  font-weight: 600;
  color: #757575;
  letter-spacing: 0.055rem; }

.mt__footer {
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end; }

.mt__footer--btn {
  padding: 0.8rem 1.5rem;
  margin: 0rem 0.3rem;
  border: none;
  background-color: #EEEEEE;
  color: #333;
  border-radius: 0.3rem;
  font-size: 1.3rem;
  cursor: pointer;
  transition: background-color 0.3s; }
  .mt__footer--btn:hover {
    background-color: #E0E0E0; }

.mt__footer--linkbtn {
  text-decoration: none;
  padding: 0.8rem 1.5rem;
  margin: 0rem 0.3rem;
  border: none;
  background-color: #ef5350;
  color: #fff;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 600;
  transition: background-color 0.3s; }
  .mt__footer--linkbtn:hover {
    background-color: #e53935; }

.show_exit_modal.mt__wrapper {
  opacity: 1;
  visibility: visible; }

.show_exit_modal .mt__container {
  animation: scaleIn 0.3s forwards ease-in-out; }

@keyframes scaleIn {
  0% {
    transform: scale(1.25); }
  100% {
    transform: scale(1); } }

.sidenav {
  height: 100%;
  background-image: linear-gradient(#f44336, #f44336);
  top: 0;
  left: 0;
  box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 3.5rem; }
  @media only screen and (max-width: 56.25em) {
    .sidenav {
      display: none; } }
  .sidenav__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
    height: 100%; }
  .sidenav__navlist {
    position: absolute;
    background-color: #fff;
    width: 20rem;
    z-index: 999;
    left: 55px;
    border-radius: 0.4rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    top: 200px;
    padding: 0.5rem 0.5rem;
    opacity: 0;
    visibility: hidden; }
  .sidenav__card {
    display: flex;
    flex-direction: row;
    padding: 0.8rem 0.5rem;
    margin: 0.4rem 0;
    cursor: pointer;
    border-radius: 0.3rem;
    box-shadow: 1px 2px 5px -2px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out; }
    .sidenav__card:hover {
      background-color: #EEEEEE; }
  .sidenav__imgbox {
    width: 4rem;
    height: 4rem;
    text-align: center;
    background-color: #9C27B0;
    border-radius: 50%;
    padding: 0.9rem 0.3rem;
    margin: 0 1rem; }
    .sidenav__imgbox--text {
      font-size: 1.5rem;
      color: #fff;
      text-align: center;
      font-weight: 600; }
  .sidenav__textview {
    text-align: left; }
    .sidenav__textview--title {
      font-size: 1.4rem;
      font-weight: 600;
      color: #333; }
    .sidenav__textview--smtext {
      font-style: italic;
      color: #4CAF50;
      font-size: 1.1rem; }
  .sidenav__iconview {
    fill: #F5F5F5;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0.8rem 0.8rem;
    text-align: center;
    background-color: inherit;
    margin: 0.5rem 0;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer; }
    .sidenav__iconview:hover {
      background-color: #e53935; }

.show_side {
  visibility: visible;
  opacity: 1; }

.app__wrapper {
  display: flex;
  flex-direction: row;
  height: 100%; }

.main {
  width: 100%;
  height: 100%;
  overflow-y: auto; }

.wxcontainer {
  padding: 2rem 1.5rem; }
  @media only screen and (max-width: 56.25em) {
    .wxcontainer {
      padding: 1.5rem 1rem; } }
  .wxcontainer__titlebox {
    padding: 1rem 0rem; }
    .wxcontainer__titlebox--text {
      font-size: 1.9rem;
      letter-spacing: 0.095rem;
      font-weight: 600;
      text-transform: uppercase;
      color: #757575; }
  .wxcontainer__gridview {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; }
