.wtt {
  visibility: hidden;
  opacity: 0;

  &__wrapper {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
    z-index: 999;
  }

  &__container {
    background-color: $color-white;
    border-radius: 0.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40rem;
    // height: 30rem;
    // max-height: 30rem;
  }

  &__titlebox {
    padding: 1rem 0.5rem;

    &--text {
      font-size: 1.8rem;
      font-weight: 600;
      //text-transform: uppercase;
      color: $color-grey-600;
    }
  }

  &__listbox {
      display: flex;
      flex-direction: column;
      padding: 0 0.5rem;
      overflow-y: auto;
  }

  &__card {
      display: flex;
      flex-direction: row;
      padding: 1.1rem 0.3rem;
      background-color: $color-white;
      border-radius: 0.3rem;
      margin: 0.6rem 0;
      cursor: pointer;
      border: 1px solid $color-grey-300;
      transition: all 0.3s;

      &:hover {
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      }
  }

  &__profilebox {
      margin: 0 1rem;

    &--img {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        object-fit: cover;
    }
  }

  &__textview {
      //padding: 0;

      &--title {
          font-size: 1.6rem;
          letter-spacing: 0.055rem;
          font-weight: 600;
          color: $color-grey-600;
      }

      &--smtext {
          font-size: 1rem;
          font-weight: 300;
          font-style: italic;
          color: $color-green-500;
      }
  }

  &__footer {
      padding: 1rem 0.5rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      &--button {
          padding: 0.8rem 1.5rem;
          border: none;
          margin: 0 0.4rem;
          text-transform: uppercase;
          letter-spacing: 0.033rem;
          border-radius: 0.3rem;
          cursor: pointer;
      }
  }
}

.wtt__hide {
    display: none;
}

.theme-blue {
    background-color: $color-blue-500;
    color: $color-white;
}

.theme-grey {
    background-color: $color-grey-400;
    color: $color-dark-300;
}
