body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'Nunito', sans-serif, Arial, Helvetica, -apple-system, BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
}